*,*::after,*::before{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --nav-font:'Aldrich', sans-serif;
    --paragraph-font: 'IBM Plex Mono', monospace;
    --stylish-font: 'Herr Von Muellerhoff', cursive;
    --heading-font: 'Fjalla One', sans-serif;
    
}

/* -----------navigation----------- */

header{
    width: 100%;
    min-height: 570px;
}
.logo_name{
    width: 21%;
    position: absolute;
    display: grid;
    justify-content: center;
    
    
}
.logo_name > h1 > a {
    font-family: var(--heading-font);
    font-size: 35px;
    text-decoration: none;
    color:black;
    font-style: italic;
}

.nav , .links{
    font-family: var(--nav-font);
    font-size: 19px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 50vw;
    
  }
  
li {
    float: left;
  }
  
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover, .dropdown:hover .dropbtn {
    color: rgb(58, 90, 65);
  }
  
li.dropdown {
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    /* background-color: rgb(55, 156, 77); */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 3px solid green;
    -webkit-border-radius: 3px solid green;
    -moz-border-radius: 3px solid green;
    -ms-border-radius: 3px solid green;
    -o-border-radius: 3px solid green;
}
  
.dropdown-content a {
    color:white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
.dropdown-content a:hover {
      background-color: color: rgb(58, 90, 65);}
  
.dropdown:hover .dropdown-content {
    display: block;
  }

  
 /* -----------Content 2--------------------- */
/* -----------header animation----------------- */
header{
        animation-name: images;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        background-image: url('images/food-1209007_1920.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        animation-timing-function: ease;
         display: grid;
}
@keyframes images{
25%{
     background-image: url('images/breakfast-690128_1920.jpg');
 }
 50%{
     background-image: url('images/meat-1440105_1920.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     background-position:center;
 }
 75%{
     background-image: url('images/salmon-518032_1920.jpg');
 }
 100%{
     background-image: url('images/piza-3010062_1920.jpg');
 }
 
}

.ani_content{
    justify-self: center;
    align-self: start;
   
    
}
.ani_content h2{
    font-family: var(--stylish-font);
    font-size: 70px;
    color: white;
    font-style: normal;
    padding-bottom: 0px;
    letter-spacing: 0.3rem;
    text-align: center;
    animation-name: aniwelcome;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: 1;
   
}
.ani_content h1{
    font-family: var(--heading-font);
    margin-top: -24px;
    font-size: 40px;
    letter-spacing: 0.6rem;

}
.ani_content p{
    font-family: var(--paragraph-font);
    text-align: center;
    font-size: 18px;
    word-spacing: 0.001rem;
    font-weight: 550px;
    font-weight: bold;
}
.btn1{
    background-color: green;
    text-align: center;
    margin: 2px 0px 0px 72px;
    padding: 2px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    
}
.ani_content h1 , .ani_content p ,button{
    text-transform: uppercase;
    animation: ani2 1s 1;
    -webkit-animation: ani2 2s 1;
    animation-delay: 1s;
}
.btn1:hover{
    background-color: rgb(124, 57, 119);
}
@keyframes aniwelcome{
    0%{
        margin-bottom: 40px
    }
}
@keyframes ani2{
    0%{
        margin-left: 40px
    }
}



/* ------content 3-------------- */
.content2{
    width: 100%;
    background-color:rgb(240, 235, 235);
    padding-top: 5px;
    padding-bottom: 15px;
    
}
.content2_gird{
   display: grid;
   grid-template-columns: repeat(2 , 42%);
   grid-template-rows: repeat(1,minmax(250px));
   justify-content: center;
   align-content: center;
   margin-top: 14px;
   grid-column-gap: 2rem;
  
}

.row1{
    background-color: rgb(180, 168, 168);
    
}

.text1 , .text2{
    animation: ani3 2s 1;
    -webkit-animation: ani3 2s 1;
    animation-delay: 3s;
}
@keyframes ani3{
    0%{margin-left:-1000px
    }
}
.star_sign , .stroy{
    animation: ani4 5s 1;
    -webkit-animation: ani4 2s 1;
    animation-delay: 3s;
}

@keyframes ani4{
    0%{margin-bottom:400px
    }
}
 .text1 h1{
   padding-top: 5px;
   font-family: var(--stylish-font);
   font-size: 39px;
   color: white;
   text-decoration: underline;
    text-decoration-color: rgb(27, 167, 85);
   -moz-text-decoration-color: black;
   text-decoration-style: solid;
   -moz-text-decoration-style: solid;
   text-align: center; 
}
.text2 h1{
    font-family: var(--heading-font);
    font-size: 29px;
    margin-top: -10px;
    letter-spacing: 0.2rem;
    text-align: center; 
}
.main_stroy{
    text-align: center; 
}
.star_sign{
    font-size: 25px;
    text-align: center; 
}
.stroy{
    width: 100%;
    text-align: center;
    font-family: var(--paragraph-font);
    }
.row2{
    background-image: url('images/pancake-1984716_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    animation: ani5 5s 1 2s;
    animation-delay: 2s;
    -webkit-animation:ani5 5s 1 2s;
    width: 80%;
}

@keyframes ani5{
    0%{
        margin-right:500px;
        background-image: url('images/pancake-1984716_1920.jpg');
    }
}

/* -----------content 3----------- */
.content3{
  height: 500px;
}
.content3_gird{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(1 , 496px);
   
}
.menu_row{
    background-color: rgb(180, 168, 168);
    
}
.menu_list{
    display: grid;
    justify-content: center;
    grid-row-gap: 0.5rem;
    margin-top: 20px;
}
.menu_heading{
    font-family: var(--nav-font);
    font-size: 18px;
    font-weight:bold ;
}
.foods{
    font-family: var(--paragraph-font);
    font-size: 17px;
    font-weight: 550px;
    text-decoration: none;
    margin-left: 20px;
}
.menu_pics{
    display: grid;
    grid-template-columns: repeat(2 , 43%);
    grid-template-rows: repeat(4,150px);
    justify-content: center;
    grid-gap:0.45rem;
}
.pic1{
    background-image: url('images/piza-3010062_1920.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.pic2{
    background-image: url('images/asparagus-2169305_1920.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.pic3{
    background-image: url('images/hamburger-1238246_1920.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.pic4{
    background-image: url('images/salad-2068220_1920.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.pic5{
    background-image: url('images/coffee-2608864_1920.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.pic6{
    background-image: url('images/bread-2796393_1920.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.pic7{
    justify-self: end;
    margin-left: 50px;
    grid-column:2/3 ;
}
.text3 a{
    text-transform: capitalize;
    font-size: 15px;
    font-family: var(--heading-font);
    letter-spacing: 0.2ch;
    text-decoration: none;
}
.text3 a:hover{
    text-decoration: underline;
    color: green;
}

/* ------------------footer------------- */
.content4{
    min-height: 200px;
    background-color: rgb(20, 20, 20);
    margin-top: 10px;
}
.contact{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2 , 45%);
    grid-template-rows: repeat(1 , 200px);
    justify-content: center;
}
.address{
    justify-self: center;
    align-self: center;
}
.social_icon{
    justify-self: end;
    align-self: center;
}
.address ,p{
    font-family: var(--paragraph-font);
    font-weight: bold;
    color: rgb(68, 59, 59);
    line-height: 1rem;
    padding: 2px;


}
.social_icon a i{
    padding: 1px;
    font-size: 25px;
}
.social_icon a i:hover{
    border: 2px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 2px;
    color: green;
    transition-duration: 1s;
    transition-timing-function: linear;
}

/* -----------Media queris------------ */

/* ---------For Larger Screen(tv)-------------- */
@media screen and(min-width:1921px){

}
/* ---------For Normal Screen(Desktop,Laptop...)-------------- */
@media screen and (max-width:1366px) and (min-width:769px){

    
}
/* ---------For Larger Tablet-------------- */
@media screen and (max-width:768px) and (min-width:601px){
li{
    float: left;
    
}
ul{
    margin-left: 10vw;
    margin-top: 23px;
    width: 100%;
    
}

.nav , .links{
    font-size: 20px;
    
}
.nav{
    width: 100%;
}
.logo_name {
    font-size: 30px;
    justify-content: center;
    width: 100%;
    margin-top: -23px;
}
header{
    width: 100%;
    min-height: 350px;
}
.logo_name{
    margin-left: 20px;
}
.content2_gird{
    display: grid;
    grid-template-columns: repeat(2,49%);
    grid-template-rows: repeat(1, 300px);
    /* justify-content: start; */
    /* align-content: start; */
    /* margin-top: 14px; */
    grid-column-gap: 1rem;
    margin-left: 0px;
}
.
.content3_gird{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 453px 300px;
}
.menu_pics{
    display: grid;
    grid-template-columns: repeat(2 , 47%);
    grid-template-rows: repeat(3, minmax(200px));
    justify-content: start;
    grid-gap:0.1rem;
}

.menu_list{
    
    justify-content: start;
    grid-row-gap: 0.5rem;
    margin-top: 20px;
    margin-left: 25px;
} 
.pic7{
    justify-self: end;
    margin-left: -180px;
    background-color:red;
    /* align-self: start; */
    height: 30px;
    grid-column: 1/3;
    /* width: 100%; */
    
}
.content4{
    overflow: hidden; 
    margin-top: 0px;
}
.contact{
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(2 , 45%);
    grid-template-rows: repeat(1 , 200px);
    justify-content: start;
}
.address{
    /* width: 100%; */
    align-self: center;
    margin-left: 9px;
    
}
.details{
    margin-top: 10px;
    /* width: 100%; */
    /* text-align: justify; */
}



.social_icon {
    margin-right: 10px;
    /* justify-self: end;
    align-self: end; */
    margin-bottom: 10px;
    background-color: green;
    
}
header,.content2 , .content4 , .content3 ,.logo_name{
    width: 98%;
}

}
/* ---------For Larger Phone and Tablet-------------- */
/* @media screen and (max-width:600px) and (min-width:481px){


} */
/* ---------For Small Phone-------------- */
@media screen and (max-width:600px) and (min-width:321px){
li{
    float: left;
}
ul{
    margin-left: 0vw;
    margin-top: 23px;
    width: 100%;
   
}

.nav , .links{
    font-size: 13px;
   
}
.nav{
    width: 100%;
}
.logo_name {
    font-size: 25px;
    justify-content: center;
    width: 100%;
    margin-top: -14px;
}
header{
    width: 100%;
    min-height: 350px;
}
.logo_name{
    margin-left: 20px;
}
.ani_content h2{
  
    font-size: 60px;
   
   
}
.ani_content h1{
   
    font-size: 30px;
    letter-spacing: 0.4rem;
    margin-left: 20px;

}
.ani_content p{
   
    font-size: 15px;
   margin-left: 22px;
    font-weight: 500px;
    font-weight: bold;
}
.btn1{
    
    margin: 2px 0px 0px 64px;
    padding: 4px;
   
    
}
.content2_gird{
    display: grid;
    grid-template-columns: repeat(1,100%);
    grid-template-rows: repeat(2, 300px);

}
.row2{
    width: 100%;
}
.content3_gird{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 270px 300px;
}
.menu_pics{
    display: grid;
    grid-template-columns: repeat(1 , 100%);
    grid-template-rows: repeat(4, minmax(200px));
    justify-content: start;
    grid-gap:0rem;
}
.pic4  .pic6 .pic5 .pic3 {
    display: none;

}
.menu_list{
  
    justify-content: start;
    grid-row-gap: 0.5rem;
    margin-top: 20px;
    margin-left: 25px;
} 
.pic7{
    justify-self: start;
    margin-left: -180px;
   
    align-self: start;
   
}

.content4{
   
    margin-top: 250px;
} 
.contact{
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(1 , 100%);
    grid-template-rows: repeat(2 , 100px);
    justify-content: center;
} 
.address{
    /* width: 100%; */
    align-self: center;
    margin-left: 9px;
  
}
.details{
    margin-top: 20px;
    width: 100%;
    text-align: justify;
}


.social_icon a{
    z-index: -1;

}
.social_icon {
  margin-right: 30px;
    
}


}
/* ---------For Lower small Phone-------------- */
@media screen and (max-width:320px) and (min-width:0px){
header{
    width: 100%;
    min-height: 200px;
}
.logo_name{
    margin-left: 20px;
}
.content2_gird{
    display: grid;
    grid-template-columns: repeat(1,100%);
    grid-template-rows: repeat(2, 300px);

}
.row2{
    width: 100%;
}
.content3_gird{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 270px 300px;
}
.menu_pics{
    display: grid;
    grid-template-columns: repeat(1 , 100%);
    grid-template-rows: repeat(4, minmax(150px));
    justify-content: start;
    grid-gap:0rem;
}
.pic4 , .pic4,.pic5 ,.pic3 {
    display: none;
} 
.content4{
   
    margin-top: 71px;
} 
.contact{
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(1 , 100%);
    grid-template-rows: repeat(2 , 100px);
    justify-content: center;
} 
.address{
    /* width: 100%; */
    align-self: center;
    margin-left: 9px;
   
}

.pic7{
    justify-self: start;
    margin-left: -150px;
   
    align-self: end;
   
}
.social_icon a{
    z-index: -1;
}


}
